---
import Layout from 'components/Layout.astro';
import { client, getUrlByRef } from 'lib/sanityClient';
const staffInfo = await client.fetch(`*[_type == "staffInfo"]`);

const eicInfo: any[] = staffInfo[0].editorsInChief;
const editorsInChief = await Promise.all(
  eicInfo.map(async (eic) => {
    const portraitRef = eic.portrait.asset._ref;
    const portraitUrl = await getUrlByRef(portraitRef);
    return {
      name: eic.name,
      portraitUrl,
    };
  })
);

const creativeDirectorInfo = staffInfo[0].creativeDirector;
const creativeDirector = {
  name: creativeDirectorInfo.name,
  portraitUrl: await getUrlByRef(creativeDirectorInfo.portrait.asset._ref),
};

const copyEditorInfo = staffInfo[0].copyEditors;
const copyEditors = {
  names: Object.values(copyEditorInfo.names),
  portraitUrl: await getUrlByRef(copyEditorInfo.portrait.asset._ref),
};

const sectionEditorInfo: any[] = staffInfo[0].sectionEditors;
const sectionEditors = await Promise.all(
  sectionEditorInfo.map(async (sectionEditor) => {
    return {
      name: sectionEditor.name,
      section: sectionEditor.section,
      portraitUrl: await getUrlByRef(sectionEditor.portrait.asset._ref),
    };
  })
);

const staffWriterInfo: any[] = staffInfo[0].staffWriters;
const staffWriters = await Promise.all(
  staffWriterInfo.map(async (staffWriter) => {
    return {
      name: staffWriter.name,
      year: staffWriter.year,
      portraitUrl: await getUrlByRef(staffWriter.portrait.asset._ref),
    };
  })
);
---

<Layout title='Staff'>
  <div class='bg-gray-700 flex flex-col items-center p-6 min-h-screen'>
    <div class='p-6 flex flex-row flex-wrap justify-around w-10/12 gap-6'>
      <div class='flex flex-col items-center rounded-xl bg-gray-900 p-4'>
        <div class='flex h-64 items-center justify-center overflow-hidden rounded-xl'>
          <img height={100} width={300} class='object-cover' src={editorsInChief[0].portraitUrl} />
        </div>
        <p class='mt-2 text-3xl text-white'>{editorsInChief[0].name}</p>
        <p class='text-lg font-extralight text-white'>Editor-in-Chief</p>
      </div>

      <div class='flex flex-col items-center rounded-xl bg-gray-800 p-4'>
        <div class='flex h-64 items-center justify-center overflow-hidden rounded-xl'>
          <img height={100} width={300} class='object-cover' src={creativeDirector.portraitUrl} />
        </div>
        <p class='mt-2 text-3xl text-white'>{creativeDirector.name}</p>
        <p class='text-lg font-extralight text-white'>Creative Director</p>
      </div>
      {
        editorsInChief.length > 1 && (
          <div class='flex flex-col items-center rounded-xl bg-gray-900 p-4'>
            <div class='flex h-64 items-center justify-center overflow-hidden rounded-xl'>
              <img height={100} width={300} class='object-cover' src={editorsInChief[1].portraitUrl} />
            </div>
            <p class='mt-2 text-3xl text-white'>{editorsInChief[1].name}</p>
            <p class='text-lg font-extralight text-white'>Editor-in-Chief</p>
          </div>
        )
      }
    </div>

    <div class='w-full p-[0.01rem] bg-gray-400 m-6'></div>

    <h1 class='mt-8 mb-6 text-5xl font-bold text-white'>Copy Editors</h1>

    <div class='max-h-96 flex rounded-xl overflow-hidden items-center bg-gray-900 w-full'>
      <div class='w-1/2'>
        <img src={copyEditors.portraitUrl} alt='Copy editors' class='object-cover max-w-full h-auto' />
      </div>
      <div class='w-full flex items-center justify-center'>
        <div class='h-16 md:h-24 lg:h-32 xl:h-48 p-[0.01rem] bg-gray-400 mx-6'></div>
        <div
          class='xl:leading-normal lg:leading-snug font-semibold text-white text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-5xl'
        >
          {copyEditors.names.map((name) => <p>{name}</p>)}
        </div>
      </div>
    </div>

    <div class='w-full p-[0.01rem] bg-gray-400 m-6'></div>

    <h1 class='text-5xl font-bold text-white mb-6'>Section Editors</h1>

    <div class='gap-6 flex flex-wrap items-center justify-around'>
      {
        sectionEditors.map((editor) => {
          return (
            <div class='flex flex-col items-center rounded-xl bg-gray-500 p-4'>
              <div class='flex h-64 w-64 items-center justify-center overflow-hidden rounded-xl'>
                <img class='object-cover' src={editor.portraitUrl} />
              </div>
              <p class='mt-2 text-3xl text-white'>{editor.name}</p>
              <p class='text-lg font-extralight text-white'>{editor.section}</p>
            </div>
          );
        })
      }
    </div>

    <div class='w-full p-[0.01rem] bg-gray-400 m-6'></div>

    <h1 class='text-5xl font-bold text-white mb-6'>Staff Writers</h1>

    <div class='gap-6 w-full flex flex-wrap items-center justify-around'>
      {
        staffWriters.map((student) => {
          return (
            <div class='flex flex-col items-center rounded-xl bg-gray-900 p-4'>
              <div class='flex h-48 w-48 items-center justify-center overflow-hidden rounded-full'>
                <img class='object-cover' src={student.portraitUrl} />
              </div>
              <p class='mt-2 text-3xl text-white'>{student.name}</p>
              <p class='text-lg font-extralight text-white'>Class of {student.year}</p>
            </div>
          );
        })
      }
    </div>
  </div>
</Layout>
